{
    "plugins": [
        ["@babel/plugin-transform-runtime", {
            "helpers": true,
            "regenerator": true
        }]
    ],
    "presets": [
        "@babel/preset-typescript",
        ["@babel/env", {"modules": false}]
    ]
}
